body {
    background-color: #1a1a1a;
    color: #ffd700;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(255, 215, 0, 0.3);
    margin-bottom: 0.5rem; /* スペースを少し詰める */
    text-align: center;
}

form {
    background-color: rgba(255, 215, 0, 0.1);
    border: 2px solid #ffd700;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 1rem; /* 各フォーム要素の間のスペースを少し詰める */
    width: 100%;
    text-align: center; /* フォーム内の要素を中央揃えにする */
}

input[type="password"] {
    width: 100%; /* 入力欄をフォームの幅に合わせる */
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid #ffd700;
    background-color: #1a1a1a;
    color: #ffd700;
    font-size: 1rem;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 150px; 
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1a1a1a;
    transition: .4s;
    border-radius: 34px;
    border: 2px solid #ffd700;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: #ffd700;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ffd700;
}

input:checked + .slider:before {
    transform: translateX(114px); /* スライダー内のボタンが新しい幅に合わせて移動 */
    background-color: #1a1a1a;
}

.slider:after {
    content: 'VOTE';
    color: #ffd700;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 12px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
    content: 'RESULT';
    color: #1a1a1a;
}

/*LOGINボタン*/ 

.go-button {
    background-color: #ffd700;
    color: #1a1a1a;
    border: none;
    padding: 12px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(255, 215, 0, 0.1);
    margin-bottom: 0rem;
    width: 50%;
}

.go-button:hover {
    background-color: black;
    color: #ffd700;
    box-shadow: 0 6px 8px rgba(255, 215, 0, 0.2);
}

@media (max-width: 480px) {
    .wrapper {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    form {
        padding: 1.5rem;
    }

    .go-button {
        padding: 10px 25px;
        font-size: 1rem;
    }
}
