body {
    background-color: #000;
}

.video {
	width: 650px;
    height: 650px;
	border-radius: 50% / 10%;
	object-fit: cover;
	box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.outer-circle {
    width: 650px;
    height: 650px;
    position: absolute;
    border-top: solid rgb(250, 221, 1) 25px;
    border-right: solid rgb(192, 169, 1) 25px;
    border-bottom: solid rgb(192, 169, 1) 25px;
    border-left: solid rgb(239, 209, 1) 25px;
    border-radius: 50% / 10%;
    box-sizing: border-box;
    background-color: transparent;
}

.circle {
    background-color: transparent;
}

.circle-1 {
    width: 590px;
    height: 590px;
    position: absolute;
    border-radius: 50% / 10%;
    box-sizing: border-box;
    background-color: transparent;
}

.circle-2 {
    width: 530px;
    height: 530px;
    position: absolute;
    border: transparent ;
    border-radius: 50% / 10%;
    box-sizing: border-box;
}

.circle-3 {
    width: 470px;
    height: 470px;
    position: absolute;
    border: transparent ;
    border-radius: 50% / 10%;
    box-sizing: border-box;
}

.circle-4 {
    width: 410px;
    height: 410px;
    position: absolute;
    border: transparent;
    border-radius: 50% / 10%;
    box-sizing: border-box;
}

.circle-5 {
    width: 350px;
    height: 350px;
    position: absolute;
    border: transparent;
    border-radius: 50% / 10%;
    box-sizing: border-box;
}

.circle-6 {
    width: 290px;
    height: 290px;
    position: absolute;
    border: transparent;
    border-radius: 50% / 10%;
    box-sizing: border-box;
}

.circle-7 {
    width: 230px;
    height: 230px;
    position: absolute;
    border: transparent;
    border-radius: 50% / 10%;
    box-sizing: border-box;
}

.circle-8 {    
    width: 170px;
    height: 170px;
    position: absolute;
    border: transparent;
    border-radius: 50% / 10%;
    box-sizing: border-box;
}

.circle-9 {    
    width: 110px;
    height: 110px;
    position: absolute;
    border: transparent;
    border-radius: 50% / 10%;
    box-sizing: border-box;
}

.circle-10 {    
    width: 50px;
    height: 50px;
    position: absolute;
    border: transparent;
    border-radius: 50% / 10%;
    box-sizing: border-box;
}

.point img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(5%, 5%) rotate(15deg);
    opacity: 0.9;
    width: 230px;
    height: 230px;
    z-index: 999;
}

.point div.ippon-content {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.98;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    z-index: 999;
    background-color: rgb(250, 221, 1);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    border-radius: 5px;
    transition: background-color 1s;
}



#confirm-button {
    background-color: rgb(250, 221, 1); /* 黄色 */
    color: #000000; /* 黒 */
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
  }
  
  #confirm-button:hover {
    background-color: rgb(239, 209, 1); /* 黄色（少し暗め） */
    color: white;
  }
  

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}
